<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <a href="/" class="text-blue-500 underline">Go to Home Page</a>
    <div>
        <div class=" color: black bg-gray-100 p-4 rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-2">User Details</h1>
        <p>yug</p>
        <p>example@gmail.com</p>
        <a href="/edit" class="text-blue-500 underline">Edit User</a>
        <a href="/delete" class="text-red-500 underline ml-4">Delete User</a>
    </div>
    <div>
        <div class=" color: black bg-gray-100 p-4 rounded-lg shadow-md">
            
        <p>arya</p>
        <p>example2@gmail.com</p>
        <a href="/edit" class="text-blue-500 underline">Edit User</a>
        <a href="/delete" class="text-red-500 underline ml-4">Delete User</a>
    </div>
    
</body>
</html>